html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Admin: hostels
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    
    style
     :css
      @font-face {
      font-family:attentica;
      src:url('/bootstrap/fonts/Attentica.ttf');
      }
      .container{
      background-color:#eee;
      }
      .order {
      border-bottom:1px solid #ddd;
      text-align:center;
      }
      .field {
      border-right:1px solid #ddd;
      }
      #legend{
      border-bottom:1px solid #ddd;
      }
      .cap {
      text-align:center;
      }
      input{
      font-family:arial;
      letter-spacing:1px;
      font-size:1.5vw;
      }
      h5 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:black;
      }
      h1 {
      font-size:4vw;
      font-family:attentica;
      display:inline;
      }
      #header {
      cursor:pointer;
      }
  body
    .container
      script.
        function away() {
         console.log('going away');
         window.loaction='http://topandviews.ru/admin';
        }
      #header.row(style='background-color:#333;',onclick='away()')
        .col-xs-12
          h1(style='color:#eee;')  Top 
            span(style='color:#ff9900;') &
          h1(style='color:#eee;')  Views 
            span(style='color:#c35') Admin : 
            span(style='color:#e18282') Hostels 
      .row
        form(action='/drop/hostels',method='post',role='form')
          .col-xs-3
            h5 Drop by HOSTEL ID
          .col-xs-3
            input(type='text', name='hid',style='margin:1vh;')
          .col-xs-3
            input(type='password', name='p',style='margin:1vh;')
          .col-xs-2
            button(type='submit',style='background-color:#c35;border-radius:4px;margin:1vh;')
              h5(style='color:white;') Drop

      #results.row
        .col-xs-12
          #legend.row
            .col-xs-2.field.cap
              h5 ID
            .col-xs-2.field.cap
              h5 Name(link)
            .col-xs-2.field.cap
              h5 Web
            .col-xs-2.field.cap
              h5 OFFERS
            .col-xs-2.field.cap
              h5 ENQUIRIES(c)
            .col-xs-2.field.cap
              h5 OWNCLIENTS
            
                         
          each hostel , i in docs
            .row.order
              .col-xs-2.field
                h5 #{hostel.hostelid}
              .col-xs-2.field
                h5
                  a(href='#{hostel.ppredir}') #{hostel.nameen}
              .col-xs-2.field
                h5 #{hostel.www}
              .col-xs-2.field
                h5 #{hostel.offrqntt}
              .col-xs-2.field
                h5 #{hostel.enquiries.accepted}
              .col-xs-2.field
                h5 #{hostel.ownclients}
              
                
              
              


        
