html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Admin: USERS
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    
    style
     :css
      .container {
      width:100%;
      margin:0px;
      padding:0px;
      }
      #header {
      text-align:center;
      background-color:#ddd;
      }
      .order {
      border-bottom:1px solid gray;
      text-align:center;
      }
      .field {
      border-right:1px solid #ddd;
      }
      #legend{
      border-bottom:1px solid #333
      }
      .cap {
      text-align:center;
      }
  body
    .container
      #header.row
        .col-xs-12
          h1  Admin
          h3  All orders 
      #drop.row
        .col-xs-4.col-xs-offset-4
          form(method='post' action='/drop/users' role='form' )
            label(for='drop') Enter pass phrase:
            br
            input.form-control(type='text' name='p')
            br
            button.form-control(style='background-color:#c35;color:white;',type='submit') Drop the database
      #results.row
        .col-xs-12
          #legend.row
            .col-xs-2.field.cap
              h3 MAIL
            .col-xs-2.field.cap
              h3 LOGIN
            .col-xs-2.field.cap
              h3 ENQUIRIES
            .col-xs-2.field.cap
              h3 CONFORMED
            .col-xs-2.field.cap
              h3 REGDATE
            
                         
          each user , i in docs
            .row.order
              .col-xs-2.field
                h5 #{user.mail}
              .col-xs-2.field
                h5 #{user.lgn}
              .col-xs-1.field
                h5 #{user.enquiries.all}
              .col-xs-1.field
                h5 #{user.enquiries.accepted}
              .col-xs-2.field
                h5 #{user.regdate.day}.#{user.regdate.month}.#{user.regdate.year}
              
                
              
              


        
