doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top and views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css', rel='stylesheet')
    style
     :css
      @font-face {
      font-family:skinny;
      src: url('/bootstrap/fonts/CODElight.otf');
      }
      @font-face {
      font-family:this;
      src:url('/bootstrap/fonts/20 Attentica 4F UltraLight.ttf');
      }
      body {
      background-color:white;
      min-width:480px;
      }
      .container {
      width:100%;
      padding:0px;
      padding-top:0px;
      padding-bottom:1vw;
      margin:0px;
      }
      .row {
      margin:0px;
      padding:0px;
      }
      h1 {
      background-color:#669999;
      font-family:this;
      margin-top:auto;
      margin-bottom:1vw;
      font-size:14vw;
      color:white;
      font-weight:100;
      display:inline;
      }
      h5 {
      font-family:skinny;
      font-size:7vw;
      color:#333;
      padding:0px;
      }
      h3 {
      font-family:this;
      font-size:7vw;
      color:#333;
      padding:0px;
      }
      h2 {
      font-family:this;
      margin-top:1vw;
      margin-bottom:1vw;
      font-size:4vw;
      color:#333;
      font-weight:100;
      }
      h4{
      font-size:2.8vw;
      font-family:this;
      }
      h6 {
      font-family:this;
      margin-top:auto;
      margin-bottom:1vw;
      font-size:14vw;
      color:white;
      font-weight:100;
      display:inline;
      }
      .center {
      text-align:center;
      }
      span {
      margin-right:100px;
      }
      a {
      color:white;
      }
      a:focus, a:hover{
      color:#c35403;
      outline:none;
      text-decoration: none;
      }
      .cityselect {
      border-radius:0px;
      height:70px;
      }
      li {
      font-family:this;
      color:#ddd;
      font-size:4vw;
      height:4vw;
      }
      li a {
      color:#333;
      }
      ul {
      list-style-type:none;
      padding:0px;
      }
      .col-xs-3 {
      padding-right:1vw;
      padding-left:1vw;
      }
      .col-xs-2 {
      padding:0px;
      }
      .col-lg-4 {
      padding:0px;
      }
      .col-lg-8 {
      padding:0px;
      }
      .col-xs-12 {
      padding:0px;
      }
      .colorchange {
      background-color:white;
      }
      #places:hover h5 {
      color:#333;
      }
      #separator {
      padding:15px;
      }
      #footer {
      background-color:white;
      }
      #footerlinks{
      font-size:1vw;
      background-color:white;
      border-top:0.3vw solid #ddd;
      border-bottom:0.3vw solid #ddd;
      }
      #map {
      background-color:gray;
      }
      #showmap {
      background-color: white;
      cursor:pointer;
      }
      #showmap:hover {
      background-color:#b7d0d0;
      }
      #places:hover {
      background-color:#b7d0d0;
      }
      #property:hover {
      background-color:#b7d0d0;
      }
      #new:hover{
      background-color:#b7d0d0;
      }
      #property:hover h5{
      color:#333;
      }
      #top {
      cursor:pointer;
      }
      #new {
      cursor:pointer;
      }
      #top:hover {
      background-color:#b7d0d0;
      }
      #yourcity:hover {
      background-color:#b7d0d0;
      }
      #top:hover h5{
      color:#333;
      }
      #partners {
      border-right:0.3vw solid #ddd;
      }
      #hr {
      border-right:0.3vw solid #ddd;
      }
      #partners:hover{
      background-color:#e1b6bc;
      }
      #contact:hover{
      background-color:#a4cab1;
      }
      #hr:hover{
      background-color:#a5aac5;
      }
      #new:hover h5{
      color:#333;
      }
      #yourcity {
      cursor:pointer;
      }
      #yourcity:hover h5 {
      color:#333;
      }
      #topdivider {
      border-bottom:0.3vw solid #ddd;
      }
      .bb {
      border-bottom:0.3vw solid #ddd;
      background-color:white;
      }
      #logotextsmall {
      text-align:center;
      }
      label {
      font-family:this;
      font-size:3vw;
      color:gray;
      }
      #topblock {
      text-align:center;
      background-color:#99cccc;
      }
      #newblock {
      background-color:#99cc99;
      display:none;
      }
      #fulllist {
      background-color:#6AAE6A;
      }
      img {
      width:100%;
      }
      .name {
      position: absolute;
      z-index:7;
      opacity:0.5;
      width:100%;
      background-color:#c35204;
      }
      .preview {
      height:480px;
      }
      .sidepadding {
      padding-left:6vw;
      padding-right:6vw;
      }
      .sidemargin {
      margin-left:1vw;
      margin-right:1vw;
      }
      .fivemargin {
      margin-right:5vw;
      margin-left:5vw;
      }
      .sixmargin {
      margin-left:6vw;
      margin-right:6vw;
      }
      .name {
      position: absolute;
      z-index:7;
      opacity:0.5;
      width:100%;
      }
  body
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    
    script(src='/js/bootstrap.min.js')
    script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js')
    .container
      #yourcity.row.bb.fivemargin
        a(href='/en')
          .col-xs-2
              span.glyphicon.glyphicon-chevron-left(style='color: #ddd; font-size: 5vw; margin: 1vw;')
          .col-xs-8(style='text-align: center;')
              h5(style='Display: inline;') #{city}
          .col-xs-2
      
      #top.row.bb.fivemargin
        .col-xs-10
          h5(style='display: inline;') Top
        .col-xs-2
          span.glyphicon.glyphicon-chevron-down(style='color: #669999; font-size: 5vw; margin: 1vw;')
      #topblock.row.sixmargin
        .col-xs-3
          .col-xs-3
          h2 Absolute
          ul
            each place, i in first
              li
                a(href='#{place.ppredir}') #{place.nameen}
        .col-xs-3
          h2 Rooftop
          ul
            each secondplace, i in second
             li
               a(href='#{secondplace.ppredir}') #{secondplace.nameen}
        .col-xs-3
          h2 Terrace
          ul
            each thirdplace, i in third
             li
               a(href='#{thirdplace.ppredir}') #{thirdplace.nameen}
        .col-xs-3
          h2 Cuisine
          ul
            each fourthplace, i in fourth
             li
               a(href='#{fourthplace.ppredir}') #{fourthplace.nameen}
      #new.row.bb.fivemargin
        .col-xs-10
          h5(style='display: inline;') New
        .col-xs-2
          span.glyphicon.glyphicon-chevron-down(style='color: #669999; font-size: 5vw; margin: 1vw;')
      #newblock.row
        .col-xs-12
          each imgpreview, i in news
           a(href='#{imgpreview.ppredir}')
            .row.preview
              .name
                  h1 #{imgpreview.nameen}
              .col-xs-12
                  img(src='#{imgpreview.mainpreview}')
        a(href='/en/geo/#{city}/new')
          .row#fulllist
            .col-xs-8.col-xs-offset-2(style='text-align:center') 
              h2 More   
            .col-xs-2
               span.glyphicon.glyphicon-chevron-right(style='color: #2b4140; font-size: 5vw; margin: 1vw;')     
      #places.row.bb.fivemargin
        a(href='/en/geo/#{city}/places')  
          .col-xs-10
            h5(style='display: inline;') Places
        a(href='/en/geo/#{city}/places')
          .col-xs-2
            span.glyphicon.glyphicon-chevron-right(style='color: #2b4140; font-size: 5vw; margin: 1vw;')
      #property.row.bb.fivemargin
        a(href='/en/geo/#{city}/property') 
          .col-xs-10
            h5(style='display: inline;') Property  & Hotels
        a(href='/en/geo/#{city}/property') 
          .col-xs-2
            span.glyphicon.glyphicon-chevron-right(style='color: #2b4140; font-size: 5vw; margin: 1vw;')
      #showmap.row.fivemargin
        .col-xs-10
          h5(style='display: inline;') On map
        .col-xs-2
          span.glyphicon.glyphicon-chevron-down(style='color: #669999; font-size: 5vw; margin: 1vw;')
      #map.row(style='display: none; text-align: center;')
        .col-xs-12(style='height: 100vh; padding: 0px;')
          .row
            #mapitself.col-xs-12(style='margin: 0px; padding: 0px; height: 100vh; border-top: 0.3vw solid #333; border-bottom: 0.3vw solid #333;')

      #footerlinks.row.fivemargin
        #partners.col-xs-4
          a(style='display: block; color: gray; font-family: this; font-size: 3vw;', href='/en/partners') Partners
        #hr.col-xs-4
          a(style='display: block; color: gray; font-family: this; font-size: 3vw;', href='/en/job') Job
        #contact.col-xs-4
          a(style='display: block; color: gray; font-family: this; font-size: 3vw;', href='/en/contact') Contact
      #footer.fivemargin.row
        .col-xs-12(style='font-family: skinny; padding: 5px; text-align: center;')
          a(style='color: gray;', href='/en')
            h4(style='font-family: this;color: #ddd') Top and views.
      script.
        $('#showmap').click(function() {
        $('#map').slideToggle('slow');
        var map = L.mapbox.map('mapitself', 'jesusjesus.ie7kb67o').setView([55.753,  37.622], 14);
        map.scrollWheelZoom.disable();
        if ($("#map").is(':visible')) {
        $("html, body").animate({scrollTop: $("#map").offset().top});
        }
        });
        $('#top').click(function() {
        $('#topblock').slideToggle('slow');
        if ($("#topblock").is(':visible')) {
        $("html, body").animate({scrollTop: $("#topblock").offset().top});
        }
        });
        $('#new').click(function() {
        $('#newblock').slideToggle('slow');
        });
