doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title #{hostel.nameen}
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')   
    style.
      body {
      width:1024px;
      height:768px;
      z-index:0;
      text-align:center;
      }
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:attentica;
      src:url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src:url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      .container{
      padding:0px;
      width:100vw;
      }
      .row{
      padding:0px;
      margin:0px;
      width:100%;
      }
      .col-xs-12 {
      margin:0px;
      padding:0px;
      }
      #header {
      text-align:center;
      }
      h2 {
      font-family:roboto-thin;
      font-size:4vw;
      color:#333;
      border:2px solid #333;
      letter-spacing:1px;
      background-color:#333;
      }
      h1 {
      font-family:attentica;
      font-size:4vw;
      display:inline;
      color:black;
      }
      h6 {
      font-family:br;
      letter-spacing:2px;
      font-size:2vw;
      margin-top:0px;
      color:#333;
      }
      h5 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:black;
      }
      #info {
      position:fixed;
      opacity:0.5;
      text-align:center;
      top:45vh;
      left:0px;
      z-index:1001;
      }
      #info:hover {
      opacity:1;
      }
      #infoblock {
      position:fixed;
      z-index:2000;
      display:none;
      }
      #shadow {
      opacity:0.5;
      height:10px;
      background-color:black;
      }
      #pano {
      height:768px;
      width:100vw;
      background-color:#c35;
      }
      #header {
      background-color:white;
      text-align:left;
      }
      #infotext {
      text-align:left;
      background-color:white;
      }
      #book {
      text-align:center;
      background-color:white;
      padding-bottom:3vh;
      z-index:3000;
      }
      .form-control {
      height:100%;
      }
      #bookbutton:hover {
      background-color:#005713;
      }
      .br {
      border-right:1px solid #ddd;
      }  
  body
    #pano.container
      //
        <div class='row' id='header'>
        <div class='col-xs-12' style='background-color:#333;'>
        <h1 style='color:#00b74a;display:inline;border-bottom:1px solid white;'>#{hostel.nameen}</h1>
        <h6 style='color:#ddd;'>#{hostel.adressen}</h6>
        </div>
        </div>
        <div class='row' style='padding:0px;margin:0px;'>
        <div class='col-xs-12' style='padding:0px;margin:0px;'>
        <div style='width:100%;height:400px;background-color:#ddd;margin-left:auto;margin-right:auto;' class='pano'>
        </div>
        </div>
        </div>
      // jQuery (necessary for Bootstrap's JavaScript plugins)
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      // Include all compiled plugins (below), or include individual files as needed
      script(src='/bootstrap/js/bootstrap.min.js')
      |     
      script(type='text/javascript', src='pano2vr_player.js')
      |     
      script.
        // create the panorama player with the container
        pano=new pano2vrPlayer("pano");
        pano.readConfigUrl("#{hostel.xml}");
      |       
      #infoblock.row
        .col-xs-12
          #header.row
            .col-xs-3
              h1
                | #{hostel.nameru}
                span(style='color:#eee;font-size:2vw') #{hostel.nameen}
          |           
          #infotext.row
            .col-xs-6
              h5
                a(href='#{hostel.www}') #{hostel.www}
              |  
              |                
              h5 #{hostel.tekephone}
              |                
              h5 #{hostel.adressru}
              |                
              h5 #{hostel.adressen}
            |             
            .col-sx-6
              h5 Some text here
          .row(style='background-color:white;border-bottom:1px solid #ddd;')
            .col-xs-3
              h5 VK
            .col-xs-3.br
              h5 FB
            .col-xs-3.br
              h5 TW
            .col-xs-3
              h5 Skype
          #sn.row(style='background-color:#eee;')
            .col-xs-3
              h5 #{hostel.vk}
            .col-xs-3.br
              h5 #{hostel.fb}
            .col-xs-3.br
              h5 #{hostel.tw}
            .col-xs-3
              h5 #{hostel.skype}  
          .row(style='background-color:#eee;')
            .col-xs-6.br
              h5 Мальчики\девочки раздельно
            .col-xs-6 
              h5 #{hostel.sepgenders}  
          .row(style='background-color:#eee;')
            .col-xs-6.br
              h5 До метро (метров)
            .col-xs-6 
              h5 #{hostel.subdist}  
          .row(style='background-color:#eee;')
            .col-xs-6.br
              h5 Ближайший транспорт
            .col-xs-6 
              h5 #{hostel.neartrnsp}     
          .row(style='background-color:#eee;')
            .col-xs-6.br
              h5 Wi-Fi
            .col-xs-6 
              h5 #{hostel.wifi}              
          #book.row
            .col-xs-12(style='margin:0px;padding:0px;')
          .row
            #shadow.col-xs-12    
      #info
        h2 INFO     
      #back      
    script.
      $('#info').click(function(){
      $('#infoblock').slideToggle();
      $('#info').css("opacity",0.5);
      });
