doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Top and Views
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    
    style
     :css
      @font-face{
      font-family:code;
      src: url('/bootstrap/fonts/20 Attentica 4F UltraLight.ttf');
      }
      @font-face{
      font-family:thin;
      src: url('/bootstrap/fonts/CODElight.otf');
      }
      .container {
      height:100%;
      width:100%;
      padding:0px;
      padding-bottom:20px;
      margin-left:auto;
      margin-right:auto;
      min-width:768px;
      max-width:1024px;
      }
      h5 {
      font-family:thin;
      font-size:8vw;
      color:#333;
      padding:0px;
      display:inline;
      }
      h1 {
      font-family:code;
      font-size:8vw;
      color:#333;
      }
      a {
      font-family:code;
      outline:none;
      text-decoration:none;
      }
      a:focus, a:hover{
      outline:none;
      text-decoration: none;
      }
      .row {
      margin:0px;
      padding:0px;
      }
      h2 {
      font-family:code;
      color:white;
      }
      h3 {
      font-family:code;
      color:black;
      font-size:2.8vw;
      }
      .col-xs-4 {
      padding:0px;
      margin:0px;
      }
      #infoblock {
      background-color:#766353;
      }
      a:focus, a:hover{
      color:#c35403;
      outline:none;
      text-decoration: none;
      }
  body
    .container
      #header.row
        .col-xs-2
          span.glyphicon.glyphicon-chevron-left(style='color: #ddd; font-size: 5vw; margin: 1vw;')
        .col-xs-10
          a( href='/en/geo/#{city}')
           h5 #{placename}
      #pano.row(style='height: 500px; width: 100%; background-color: gray;')
           script(type='text/javascript', src='/js/pano2vr_player.js')           
           #container2(style='width: 100%; height: 500px;')
             | This content requires HTML5/CSS3, WebGL, or Adobe Flash Player Version 9 or higher.
             script.
              // create the panorama player with the container
              pano=new pano2vrPlayer("container2");
              pano.readConfigUrl("#{xml}");                
      #infoblock.row(style='background-color: #3f888b;')
        .col-md-6
          h2 #{telephone}
          h2 #{workinghours}
          h2 Shisha: #{shisha}
          h2 Cigars: #{cigars}
          h2 Year founded: #{yearfounded}
        .col-md-6
          a(href='#{web}')
            h2 #{web}
      #footer.row
        .col-xs-12(style='font-family: skinny; text-align: center;')
          a(style='color: #333;', href='/en')
            h3 Top and views.
